<div class="prefix_3 grid_10 suffix_3">
<%= form_tag tweets_preview_path do %>
	<fieldset class="border_1 pad">
		<legend>Build your tweet-burger</legend>
		<p class="cat_image_center">
			<%= image_tag(@catimage) %>	
			<%=hidden_field_tag 'original_image_url', @catimage %>	
			<%=hidden_field_tag 'picture_id', @pictureId %>
		</p>
		<p>
			<%= label_tag 'an teh kitty sez' %>
			<%= text_area_tag 'tweet', nil, {:rows => 4, :class => "large_text"} %>
		</p>
		<p><%= submit_tag "build it" %></p>
	</fieldset>	
<% end %>
</div>