<div class="prefix_3 grid_10 suffix_3">
<%= form_tag tweet_path do %>
	<fieldset class="border_1 pad">
		<legend>Convert to lolspeak</legend>
		<p>
			<p class="small_text"><%= @catimage %></p>		
		</p>
		<p>
			<%= label_tag 'tweet' %>
			<%= text_area_tag 'tweet', nil, {:rows => 4, :class => "large_text"} %>
		</p>
		<p><%= submit_tag %></p>
	</fieldset>	
<% end %>
</div>